body {
    font-family: Arial, sans-serif;
    background: #000;
    margin: 0;
    padding: 40px;
    color: #fff;
}

h1 {
    font-weight: 150;
    font-size: 60px;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}