{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOBHUNTER</title>

    <link rel="stylesheet" href="{% static 'css/seeker/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker/results.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker/footer.css' %}">
    </head>
<body>

<div class="container">

    <a href="/">←</a>

    <h1 id="seekerTitle">Loading...</h1>

    <div class="filters-grid">

        <div class="field">
            <label>Keyword</label>
            <input type="text" id="keyword">
        </div>

        <div class="field">
            <label>Cities</label>
            <div class="dropdown" data-multi="cities">
                <button class="dropdown-btn">You can select multiple options</button>
                <div class="dropdown-menu">
                    <label><input type="checkbox" value="Vilnius"> Vilnius</label>
                    <label><input type="checkbox" value="Kaunas"> Kaunas</label>
                    <label><input type="checkbox" value="Klaipeda"> Klaipeda</label>
                    <label><input type="checkbox" value="Šiauliai"> Šiauliai</label>
                    <label><input type="checkbox" value="Panevėžys"> Panevėžys</label>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Categories</label>
            <div class="dropdown" data-multi="categories">
                <button class="dropdown-btn">You can select multiple options</button>
                <div class="dropdown-menu">
                    <label><input type="checkbox" value="it"> IT</label>
                    <label><input type="checkbox" value="finance"> Finance</label>
                    <label><input type="checkbox" value="marketing"> Marketing</label>
                    <label><input type="checkbox" value="sales"> Sales</label>
                    <label><input type="checkbox" value="engineering"> Engineering</label>
                    <label><input type="checkbox" value="medicine"> Medicine</label>
                    <label><input type="checkbox" value="law"> Law</label>
                    <label><input type="checkbox" value="security"> Security</label>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Working Hours</label>
            <div class="dropdown" data-multi="working_hours">
                <button class="dropdown-btn">You can select multiple options</button>
                <div class="dropdown-menu">
                    <label><input type="checkbox" value="full_time"> Full Time</label>
                    <label><input type="checkbox" value="part_time"> Part Time</label>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Minimum Salary</label>
            <input type="number" id="min_salary">
        </div>

    </div>

    <div class="actions">
        <button id="runBtn">Run Search</button>
        <button id="saveBtn">Save Filters</button>
    </div>

    <div id="status"></div>

    <div id="results"></div>

</div>

<script src="{% static 'js/seeker.js' %}"></script>

</body>
<footer class="bottom-nav">
    <div class="nav-left">JOBHUNTER</div>

    <div class="nav-links">
        <a class="footer-link" href="https://github.com/gr1dsan/jobhunter">Project Repository</a>
        <a class="footer-link" href="https://www.linkedin.com/in/vladyslav-hridin-b11b68356/">LinkedIn</a>
        <a class="footer-link" href="/help/">Info</a>
    </div>
</footer>
</html>